.toaster-dock {
  position: fixed;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  width: 100%;
  z-index: 10;
  top: 10px;
  left: 10px;
}

.toaster-message {
  position: relative;
  text-align: center;
  padding: 0.3em;
  opacity: 0.9;
  border-radius: 5px;
  width: 300px;
  transition: opacity 0.5s ease;
  cursor: pointer;

  &.success {
    border: 1px solid green;
    background-color: rgba(50, 205, 50, 80%);
    color: black;
  }

  &.info {
    border: 1px solid rgb(219, 219, 0);
    background-color: lightyellow;
    color: black;
  }

  &.warning {
    border: 1px solid red;
    background-color: rgba(255, 160, 122, 80%);
    color: black;
  }

  &.error {
    border: 1px solid red;
    background-color: rgba(178, 34, 34, 75%);
    color: white;
  }

  &::after {
    content: "\00D7";
    position: absolute;
    font-size: 1.2em;
    top: -8px;
    right: 5px;
  }
}

@media screen and (max-width: 600px) {
  .toaster-message {
    max-width: none;
    width: calc(100% - 20px);
  }
}
