* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------------------- define global colors and font sizes ------------------ */
:root {
  --general-border: hsl(200, 50%, 70%);
  --list-item-bg: hsl(186, 80%, 98%);
  --list-item-active: hsl(186, 80%, 95%);
  --list-item-border: hsl(0, 0%, 90%);
  --color-warning: hsl(0, 80%, 70%);
  --item-open: hsla(0, 0%, 50%, 54.3%);
  --item-open-hover: hsla(120, 100%, 25%, 60%);
  --item-completed: hsl(120, 100%, 25%);
  --item-completed-bg: hsla(0, 0%, 83%, 33.7%);
  --item-completed-color: gray;
  --edit-item-bg: hsl(0, 78%, 93%);

  font-family: Oxygen, sans-serif;
  font-size: 20px;
}

body {
  min-width: 320px;
}

main {
  flex: 1 0 auto;
}

.title {
  text-align: center;
  margin: 0.5em 0;
}

.input-form {
  display: flex;
  flex-direction: row;
  text-align: center;
  column-gap: 0.5em;
  margin: 0 1em;
}

.input-form #text-input {
  appearance: none;
  width: 100%;
  outline: none;
  padding: 0.4em;
  border-radius: 0.5em;
  font-size: 1rem;
  border: 1px solid var(--general-border);
  box-shadow: 0 10px 13px -7px #000;
}

.input-form #add-item {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  border-radius: 0.5em;
  background-color: hsl(0, 0%, 94%);
  color: black;
  padding: 0.5em;
  box-shadow: 0 10px 13px -7px #000;
}

#list-root,
#completed-root {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 0.3em;
  padding: 0.5em;
  padding-top: 0.3em;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--list-item-bg);
  border: 1px solid var(--list-item-border);
  padding: 0.5em;
  border-radius: 0.3em;
}

.button-bar {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.list-item-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.delete-button {
  color: var(--color-warning);
  cursor: pointer;
}

.checked-button {
  color: var(--item-open);
  cursor: pointer;
}

.item-completed {
  color: var(--item-completed-color);
  background-color: var(--item-completed-bg);
}

.item-completed .checked-button {
  color: var(--item-completed);
}

.edit-button,
.edit-accept {
  cursor: pointer;
}

.edit-input {
  font-size: 1em;
  padding: 0.2em;
  border-radius: 0.3em;
  border: 1px solid var(--list-item-border);
  width: 100%;
  margin-right: 1em;
  outline: none;
  box-shadow: 0 0 3px #ddd;
}

fieldset {
  position: relative;
  display: none;
  margin: 0.4em 1em;
  border-radius: 0.5em;
  border: 1px solid var(--general-border);
  box-shadow: 0 10px 13px -7px #000;
}

legend {
  margin: 0 auto;
  padding: 0.5em;
  font-weight: 600;
}

.delete-list {
  position: absolute;
  padding: 0 0.2em;
  background-color: #fff;
  top: -36px;
  right: 10px;

  /* color: var(--color-warning); */
  color: red;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  color: hsl(0, 0%, 50%);
  flex-shrink: 0;
  margin-top: 1.2em;
}

footer .source-link {
  display: flex;
  column-gap: 0.3em;
  padding: 0 0.2em;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  color: hsl(88, 77%, 26%);
}

/* move all hover styles here. If we don't do this, it will lead to issues on
iOS and similar when an item is deleted - the hover styles will be applied to
the remaining item that takes its index.
*/
@media (hover: hover) {
  .checked-button:not(.item-completed):hover {
    color: var(--item-open-hover);
  }

  .list-item:hover,
  .list-item:active {
    background-color: var(--list-item-active);
  }

  .delete-button:hover {
    color: red;
  }

  .delete-list:hover {
    color: hsl(0, 100%, 33%);
  }
}

@media screen and (min-width: 600px) {
  body {
    max-width: 500px;
    margin: 0 auto;
  }
}
